body{
    height: 1200px;
}
#nav{
    display:flex;
    justify-content:space-around;
    align-items: start;
    padding-top:10px;
    font-size: large;
}
#logo{
    position: static;
        background-image: url(Screenshot_2025-07-07_132445_PhotoGrid-removebg-preview.png);
        border: border-box;
        background-size: contain;
        margin-left: 5px;
        width: 150px;
        height: 50px;
    }
a{
    text-decoration:none;
    cursor: pointer;
    color: rgb(11, 0, 0);
}
a:hover{
    color: blueviolet;
}


#login{
    background-color: blueviolet;
    color: aliceblue;
    border:none;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}
button{
    width:80px;
    height:40px;
    cursor: pointer;
}
#sign{
    background-color: aliceblue;
    border: gainsboro;
    border-radius: 10%;
}
main{
    height: 900px;
    background-image:url(background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.first{
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    font-weight: bolder;
    color:snow;
    text-shadow: aliceblue;
    padding-top: 30px;
    text-align:left;
}
#first{
    padding-top: 30px;
    padding-left: 100px;
    text-align: center;
    font-weight: bolder;

}
#start{
    width: 250px;
    height: 50px;
    color: rgb(7, 7, 7);
    border-radius: 9999px;
    cursor: pointer;
    font-weight: bold;

}
video{
    width: 600px;
    height: 400px;
    border-radius: 5%;
    margin-top: 20px;
    margin-right: 50px
}
.second{
    text-align: center;
    padding-top: 50px;
    font-weight: bolder;
    color: rgb(8, 0, 0);
    text-shadow: aliceblue;
}
.nav2{
    padding: 10px 10px 10px 60px;
    font-size: large;
    border-radius: 9999px;
    width: 80%;
    background-color: rgb(252, 253, 254);
    margin-left: 80px;
}
.nav2 ul{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:space-around;
    list-style-type: none;
    cursor: pointer;
}
li:hover{
    color: white;
    transition: all;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: blueviolet;
    border-radius: 9999px;
    font-size: larger;
    padding: 10px 10px 10px 10px;

}
.third{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: center;
    width: 1200px;
    height: 400px;
    
}

.fourth{
    display: flex;
    justify-content: space-evenly;
     width: 1200px;
    height: 400px;
    border-radius: 5%;
    padding-top: 20px;
    margin-right:20px;
    background-size: cover;
}
.f1{
    margin-top: 10px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#premium{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    padding: 10px  10px 10px 10px;
    width: 100px;
    border: 1px solid black;
    border-radius: 9999px;
    margin-left: 550px;
}
#premium:hover{
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    transition: all;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

footer a{
    text-decoration: none;
    color: black;
    padding: 10px 10px 10px 10px;
}
footer{
    position: absolute;
    line-height: 15px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 10px;
    background-color: rgb(186, 183, 183);
}
